

.container {
  margin: 0 auto;
  max-width: 910px;
}

.rectangle {
    width: 114px;
    height: 162px;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
    }
    .search-header{
        font-size:30px;
        color: #5E56E7;

    }
    .arrow-back{
        width: 15%;
    }

.book-font{
    font-family: monteserrat,Regular;
    font-size: 12px;
}



 
      
    
      
      .search-bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #F0F0F6;
        height: 40px;
        outline: none;
        border: none;
        padding: 0 10px 0 10px;
        
      }
      .search-input{
          background: border-box;
          border: none;
          outline: none;
          padding-top: 1.5px;
      }    
  
      
 
      
 
      .btn:focus {
        outline: none;
        box-shadow: none;
      }
 
   