<div class="booklist">

    <div class="container ">
        <div class="search-header vertical-align-middle">
            <span class="arrow-back">
                <img src="../../assets/img-assets/Back.svg" alt="" srcset="">
            </span>
            <Span class="h2 pl-3">FICTION</Span>

        </div>
        <div class="search-bar mt-3 d-flex align-items-center justify-content-between">
            
            <div class="search">
                <button class="btn " type="submit"> <img src="../../assets/img-assets/Search.svg" alt="" srcset=""></button>
                <input  class="search-input" type="text" name="search-input" placeholder="Search" value="" />
            </div>
            <div class="close-button">
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>

            </div>
        </div>
        <br>


        <div class="row mt-5">
            <div class="book-card col-2">
                <div class="rectangle">
                    <img src="">
                </div>
                <div class="description mt-2">
                    <span class="title book-font font-weight-bold">THE OLD MAN AND SEA</span>
                    <p class="author text-muted book-font font-weight-bold">Charles Dickens</p>
                </div>
            </div>
            <div class="book-card col-2">
                <div class="rectangle">
                    <img src="">
                </div>
                <div class="description mt-2">
                    <span class="title book-font font-weight-bold">THE BELIAL STONE</span>
                    <p class="author text-muted book-font font-weight-bold">R.D Brady</p> 
                 
                </div>
            </div>
            <div class="book-card col-2">
                <div class="rectangle">
                    <img src="">
                </div>
                <div class="description mt-2">
                    <span class="title book-font font-weight-bold">REACTION - THE END OF IRON AGE</span>
                    <p class="author text-muted book-font font-weight-bold">Seth M Baker</p>
                </div>
            </div>
            <div class="book-card col-2">
                <div class="rectangle">
                    <img src="">
                </div>
                <div class="description mt-2">
                    <span class="title book-font font-weight-bold">GREAT EXPECTATIONS</span>
                    <p class="author text-muted book-font font-weight-bold">Charles Dickens</p>
                </div>
            </div>
            <div class="book-card col-2">
                <div class="rectangle">
                    <img src="">
                </div>
                <div class="description mt-2">
                    <span class="title book-font font-weight-bold">A CHRISTMAS CAROL</span>
                    <p class="author text-muted book-font font-weight-bold">Charles Dickens</p>
                </div>
            </div>
            <div class="book-card col-2">
                <div class="rectangle">
                    <img src="">
                </div>
                <div class="description mt-2">
                    <span class="title book-font font-weight-bold">HARRY POTTER AND THE HALF…</span>
                    <p class="author text-muted book-font font-weight-bold">J.K Rowling</p>
                </div>
            </div>
            <div class="book-card col-2">
                <div class="rectangle">
                    <img src="">
                </div>
                <div class="description mt-2">
                    <span class="title book-font font-weight-bold">OLIVER TWIST</span>
                    <p class="author text-muted book-font font-weight-bold">J.K Rowling</p>
                </div>
            </div>
            <div class="book-card col-2">
                <div class="rectangle">
                    <img src="">
                </div>
                <div class="description mt-2">
                    <span class="title book-font font-weight-bold">THE ADVENTURES OF TOM SAWYER</span>
                    <p class="author text-muted book-font font-weight-bold">Mark Twain</p>
                </div>
            </div>
            <div class="book-card col-2">
                <div class="rectangle">
                    <img src="">
                </div>
                <div class="description mt-2">
                    <span class="title book-font font-weight-bold">PERCY JACKSON AND THE OLYMP…</span>
                    <p class="author text-muted book-font font-weight-bold">Rick Riordan</p>
                </div>
            </div>
            <div class="book-card col-2">
                <div class="rectangle">
                    <img src="">
                </div>
                <div class="description mt-2">
                    <span class="title book-font font-weight-bold">HARRY POTTER AND THE DEATH…</span>
                    <p class="author text-muted book-font font-weight-bold">J.K Rowling</p>
                </div>
            </div>
            <div class="book-card col-2">
                <div class="rectangle">
                    <img src="">
                </div>
                <div class="description mt-2">
                    <span class="title book-font font-weight-bold">THE BEASTS OF THE BLACK HOLE</span>
                    <p class="author text-muted book-font font-weight-bold">Paul Parker</p>
                </div>
            </div>
            <div class="book-card col-2">
                <div class="rectangle">
                    <img src="">
                </div>
                <div class="description mt-2">
                    <span class="title book-font font-weight-bold">A TALE OF TWO CITIES</span>
                    <p class="author text-muted book-font font-weight-bold">Charles Dickens</p>
                </div>
            </div>





        </div>

    </div>