<body>
    <div class="header">
        <div class="container mt-5">
            <div class="details">

                <h1 class="font-weight-bold ">Gutenberg Project</h1>
                <p class="font-weight-bold">A social cataloging website that allows you to
                    freely search its database of books,
                    annotations, and reviews</p>
            </div>

        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-6 ">
                <div class="card">
                    <div class="card-body d-flex align-items-center justify-content-between">
                        <div class="card-details">
                            <img class="book-type" src="../../assets/img-assets/Fiction.svg" alt="">
                            <span class="pl-2 ">FICTION</span>

                        </div>
                        <div class="arrow font-weight-bold">
                            <img src="../../assets/img-assets/Next.svg" alt="">

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <div class="card ">
                    <div class="card-body d-flex align-items-center justify-content-between">
                        <div class="card-details">
                            <img class="book-type" src="../../assets/img-assets/Philosophy.svg" alt="">
                            <span class="pl-2">PHILOSOPHY</span>

                        </div>
                        <div class="arrow">
                            <img src="../../assets/img-assets/Next.svg" alt="">

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6 ">
                <div class="card mt-4">
                    <div class="card-body d-flex align-items-center justify-content-between">
                        <div class="card-details">
                            <img class="book-type" src="../../assets/img-assets/Drama.svg" alt="">
                            <span class="pl-2">DRAMA</span>

                        </div>
                        <div class="arrow">
                            <img src="../../assets/img-assets/Next.svg" alt="">

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6 ">
                <div class="card mt-4">
                    <div class="card-body d-flex align-items-center justify-content-between">
                        <div class="card-details">
                            <img class="book-type" src="../../assets/img-assets/History.svg" alt="">
                            <span class="pl-2">HISTORY</span>

                        </div>
                        <div class="arrow">
                            <img src="../../assets/img-assets/Next.svg" alt="">

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6 ">
                <div class="card mt-4">
                    <div class="card-body d-flex align-items-center justify-content-between">
                        <div class="card-details">
                            <img class="book-type" src="../../assets/img-assets/Humour.svg" alt="">
                            <span class="pl-2">HUMOUR</span>

                        </div>
                        <div class="arrow">
                            <img src="../../assets/img-assets/Next.svg" alt="">

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6 ">
                <div class="card mt-4">
                    <div class="card-body d-flex align-items-center justify-content-between">
                        <div class="card-details">
                            <img class="book-type" src="../../assets/img-assets/Adventure.svg" alt="">
                            <span class="pl-2">ADVENTURE</span>

                        </div>
                        <div class="arrow">
                            <img src="../../assets/img-assets/Next.svg" alt="">

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6 ">
                <div class="card mt-4">
                    <div class="card-body d-flex align-items-center justify-content-between">
                        <div class="card-details">
                            <img class="book-type" src="../../assets/img-assets/Politics.svg" alt="">
                            <span class="pl-2">POLITICS</span>

                        </div>
                        <div class="arrow">
                            <img src="../../assets/img-assets/Next.svg" alt="">

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>